@use '../shared.scss' as *;

.page.baskets {
    @extend %on-the-road;
    main.wrapper {
        .baskets {
            position: absolute;
            width: 100%;
            top: calc((var(--window-height) / 2) - 10%);
            display: grid;
            grid-template-columns: 1fr 1.3fr 1.6fr;
            .selectable-item {
                @include selectable-item;
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        grid-column: $i / span 1;
                        margin-top: calc( (#{$i} - 1) * 45px);
                    }
                }
                .btn-toggle {
                    width: 100%;
                }
                .banner {
                    position: fixed;
                    top: 0;
                    left: 0;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        position: relative;
                        padding-bottom: $gutter-banner-vert;
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border-bottom: 1px solid $color-text;
                        }
                    }
                    .basket-content {
                        margin-top: $space-elements;
                        position: relative;
                        .text {
                            max-height: 20vh;
                            overflow-y: scroll;
                            padding-bottom: 1em; /* contains the blur for overflowing text */
                            scrollbar-width: thin;
                            scrollbar-color: $color-brown-dark transparent;
                            &::-webkit-scrollbar-track {
                                border-radius: 5px;
                                background-color: transparent;
                            }
                            &::-webkit-scrollbar {
                                border-radius: 5px;
                                width: 5px;
                                background-color: transparent;
                            }
                            &::-webkit-scrollbar-thumb {
                                border-radius: 5px;
                                background-color: $color-brown-dark;
                            }
                            ol {
                                list-style: inside;
                                list-style-type: "- ";
                            }
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 1.5em;
                            background: linear-gradient(0deg, $color-brown-light 0%, rgba(0,0,0,0) 100%);
                        }
                    }
                    .basket-btn-add {
                        float: right;
                    }
                }
            }
        }
    }
}
