@use '../shared.scss' as *;

.page.baskets {
    @extend %on-the-road;
    main.wrapper {
        .basket-list {
            position: absolute;
            width: 100%;
            top: calc((var(--window-height) / 2) - 10%);
            display: grid;
            grid-template-columns: 1fr 1.3fr 1.6fr;
            .selectable-item {
                grid-column: var(--index) / span 1;
                margin-top: calc((var(--index) - 1) * 45px);
                .banner {
                    position: fixed;
                    top: 0;
                    left: 0;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        position: relative;
                        padding-bottom: $gutter-banner-vert;
                        &::after {
                            @extend %line-after;
                        }
                    }
                    .content {
                        margin-top: $space-elements;
                        position: relative;
                        .text {
                            @extend %thin-scrollbar;
                            max-height: 20vh;
                            overflow-y: scroll;
                            padding-bottom: 1em; /* contains the blur for overflowing text */
                            ol {
                                list-style: inside;
                                list-style-type: "- ";
                            }
                        }
                        &::after {
                            @extend %fade-after-scroll;
                        }
                    }
                    .basket-btn-add {
                        float: right;
                    }
                }
            }
        }
    }
}
