@use '../shared.scss' as *;

.page.baskets {
    background: $color-green-grass;
    main.wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .baskets {
            display: grid;
            grid-template-columns: 1fr 1.3fr 1.6fr;
            .basket-item {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        grid-column: $i / span 1;
                        margin-top: calc( (#{$i} - 1) * 45px);
                    }
                }
                .basket-btn-toggle {
                    width: 100%;
                    .basket-fg {
                        transform: translateY(0);
                        transition: transform ease-out $transition-duration;
                    }
                }
                .basket-banner {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: calc(100vw - (2 * #{$gutter-banner-horiz}));
                    background: $color-brown-light;
                    padding: $gutter-banner-vert $gutter-banner-horiz;
                    
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(-100%);
                    transition: visibility $transition-duration, opacity $transition-duration, transform ease-out $transition-duration;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        position: relative;
                        padding-bottom: $gutter-banner-vert;
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border-bottom: 1px solid $color-text;
                        }
                    }
                    .basket-content {
                        margin-top: $space-elements;
                        position: relative;
                        .text {
                            max-height: 20vh;
                            overflow: scroll;
                            padding-bottom: 1em; /* contains the blur for overflowing text */
                            ol {
                                list-style: inside;
                                list-style-type: "- ";
                            }
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 1.5em;
                            background: linear-gradient(0deg, $color-brown-light 0%, rgba(0,0,0,0) 100%);
                        }
                    }
                    .basket-btn-add {
                        float: right;
                    }
                }
                &.selected {
                    .basket-banner {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0);
                        transition: visibility $transition-duration, opacity $transition-duration, transform ease-out $transition-duration;
                    }
                    .basket-fg {
                        transform: translateY(-30%);
                        transition: transform ease-out $transition-duration;
                    }
                }
            }
        }
        .character-wrapper {
            position: absolute;
            width: 40%;
            top: calc(var(--window-height) / 2 + #{$space-character-top});
            left: 5%;
        }
        .road {
            position: absolute;
            left: 50%;
            top: calc(var(--window-height) / 2 + #{$space-character-top});
            transform: rotate(28deg) translate(-50%, 1080px);
            rect {
                fill: #f2a766;
            }
        }
    }
}
