@use '../shared.scss' as *;

%positionnedAtBottom {
    position: fixed;
    top: calc(
        var(--window-height-static) - 1rem
    ); /* Positioned according to --window-height instead of viewport to avoid off-screen displaying on mobile */
    transform: translateY(-100%); /* As the height of the element is variable, we have to use this method */
}

.page.cashier {
    background-image: url("/assets/img/shop_bg.svg");
    background-size: cover;
    background-position-x: center;
    overflow: visible;
    max-width: var(--window-height-static);
    main.wrapper {
        .characters {
            position: absolute;
            width: 100%;
            height: 250px;
            top: 21%;
            .character-wrapper {
                position: absolute;
                &.cashier {
                    width: 5% /* 18% */;
                    top: 5%;
                    left: 55%;
                }
                &.user {
                    width: 22%;
                    bottom: 0;
                    left: 20%;
                }
            }
            .desk-wrapper {
                width: 70%;
                position: absolute;
                left: 30%;
                top: 22%;
            }
        }
        .cashier-step {
            @extend %positionnedAtBottom;
            width: 100%;
            left: 0;
            text-align: center;
            /* Overlap steps for nice transition */
            .understep {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .step-content {
                background-color: $color-brown-light;
                padding: $gutter-banner-vert $gutter-banner-horiz;
                text-align: left;
                &::before {
                    @extend %arrow-before;
                    right: calc((var(--window-width) / 2) - 70px);
                }
            }
            .step-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                .button {
                    margin: 1rem 4rem 0 4rem;
                }
            }
        }
        .button.goback {
            @extend %positionnedAtBottom;
            left: 3%;
            display: flex;
            padding: 4px;
            .arrow-icon {
                width: 1.3rem;
            }
        }
    }
}
