@use '../shared.scss' as *;

.page.options {
    @extend %on-the-road;
    main.wrapper {
        .products {
            position: absolute;
            width: 100%;
            top: calc((var(--window-height) / 2) - 15%);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .selectable-item {
                @include selectable-item;
                width: 25%;
                flex-shrink: 0;
                margin-top: calc((var(--index) - 1) * 45px);
                .icon {
                    width: 50%;
                    margin: auto;
                    transform: translateY(15%);
                }
            }
        }   
    }
}
