@use '../shared.scss' as *;

.page.options {
    @extend %on-the-road;
    main.wrapper {
        .products {
            position: absolute;
            width: 100%;
            top: calc((var(--window-height) / 2) - 15%);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .selectable-item {
                width: 25%;
                flex-shrink: 0;
                margin-top: calc((var(--index) - 1) * (#{$slope} * 25%));
                .btn-toggle {
                    /* pagination */
                    transform: translate(calc(var(--current-page) * (-400%)), calc(var(--current-page) * #{$slope} * var(--max-width) * -1));
                    transition: transform 2s;
                    .icon {
                        width: 50%;
                        margin: auto;
                        transform: translateY(15%);
                    }
                }
                .banner {
                    position: fixed;
                    top: 15%;
                    left: 0;
                    text-align: center;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        margin-bottom: $space-elements;
                        text-align: left;
                        .price {
                            flex-shrink: 0;
                            margin-left: 10px;
                        }
                    }
                    .option-variations {
                        .option-variation {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            label {
                                cursor: pointer;
                                margin: calc(#{$space-elements} / 2) 0;
                                input {
                                    display: none;
                                }
                            }
                        }
                    }
                    .option-btn-add {
                        margin-top: $space-elements;
                    }
                }
            }
        }
        .navbar {
            position: fixed;
            bottom: $gutter-vert;
            width: calc(100vw - (2 * #{$gutter-horiz}));
            left: $gutter-horiz;
            .previous {
                justify-self: flex-start;
            }
            .next, .checkout {
                justify-self: flex-end;
                float: right;
            }
        }   
    }
    .decorative-elems {
        .decor {
            left: calc(var(--index) * 150vw);
            top: calc(var(--index) * #{$slope} * 150vw);
        }
        .tree, .grass {
            /* pagination */
            transform: translate(calc(var(--current-page) * var(--window-width-95) * -1), calc(var(--current-page) * #{$slope} * var(--max-width) * -1));
            transition: transform 2s;
        }
    }
}