@use '../shared.scss' as *;

.cart {
    .button.cart {
        position: fixed;
        top: $gutter-vert;
        right: $gutter-horiz;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        padding: 0.55rem;
        &.animating {
            animation-name: addedToCart;
            animation-duration: 0.2s;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 2;
        }
    }
    .content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 $gutter-banner-horiz ;
        background-color: $color-brown-light;
        transform: rotate(0deg);
        .first-line {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
                margin: 0 1rem;
            }
        }
        ul {
            min-height: 4rem;
            .selectable-item {
                width: 2rem;
                height: 4rem;
                margin: 0 1rem;
                display: grid;
                align-items: center;
                &.option {
                    .icon {
                        width: 85%;
                    }
                }
                .bg {
                    opacity: 0;
                    transition: opacity 0.5s;
                }
                &.selected .bg {
                    opacity: 1;
                    transition: opacity 0.5s;
                }
                .btn-toggle {
                    height: 4rem;
                }
                .banner {
                    position: fixed;
                    top: 100%;
                    left: 0;
                    text-align: center;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        text-align: left;
                        .cart-item-title {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }
                    }
                    .remove-from-cart, .modify-basket {
                        margin-top: $gutter-banner-vert;
                    }
                    &::before {
                        display: block;
                        content: "";
                        border-top: 0.5px solid $color-brown-dark;
                        opacity: 0.3;
                        width: calc(100% - 2 * #{$gutter-banner-horiz});
                        position: absolute;
                        top: 0;
                        left: $gutter-banner-horiz
                    }
                }
            }
            .composed-img {
                width: 100%;
                > * {
                    place-self: end center;
                }
            }
        }
        ul.list-options {
            display: flex;
            flex-wrap: wrap;
            .selectable-item {
                height: 5rem;
            }
            &::before {
                content: "";
                border-top: 0.5px solid $color-brown-dark;
                opacity: 0.3;
                width: 100%;
            }
        }
    }

    /* transitions */
    %visible {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
        transition: $transition-duration;
    }
    %invisible {
        transform: translateY(-30%);
        visibility: hidden;
        opacity: 0;
        transition: $transition-duration;
    }

    .button.cart {
        @extend %visible;
    }
    .content {
        @extend %invisible;
    }
    &.opened {
        .button.cart {
            @extend %invisible;
        }
        .content {
            @extend %visible;
        }
    }

    @keyframes addedToCart {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(20%);
        }
    }
}