@use '../shared.scss' as *;

.spinner-wrapper {
    margin-left: 1ch;
    width: 1em;
    height: 1em;
    display: inline-block;
    overflow: hidden;
    overflow: visible;
    .spinner {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
        div {
            position: absolute;
            width: 65%;
            height: 65%;
            border: 3px solid $color-brown-light;
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            top: 50%;
            left: 50%;
            box-sizing: content-box;
        }
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
