@use '../shared.scss' as *;

.road {
    position: absolute;
    left: 50%;
    top: calc(var(--window-height) / 2 + #{$space-character-top});
    transform: rotate($angle) translate(-50%, 1040px);
    rect {
        fill: #f2a766;
    }
}
