@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Bold.woff") format("woff");
}

/* variables */
$max-width: 375px;
$space-character-top: 70px;
$space-elements: 7px;
$gutter-banner-vert: 15px;
$gutter-banner-horiz: 3vw;

$color-blue-sky: #b5ffff;
$color-green-grass: #5abf7d;
$color-brown-light: #f2ca80;
$color-brown-dark: #44200e;
$color-text: #44200E;

$transition-duration: 0.5s;

/* normalize */
* {
    padding: 0;
    margin: 0;
}
ul, ol {
    list-style: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}

/* general properties */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-text;
}

body, #root, .App {
    overflow: hidden;
}

.page {
    main.wrapper {
        position: relative;
        width: 95%;
        max-width: $max-width;
        height: 100vh;
        margin: auto;
    }
}

.composed-img {
    display: grid;
    grid-template: "center" 1fr / 1fr;
    > * {
        width: 100%;
        grid-area: center;
    }
}

.fg {
    z-index: 3;
}
.character-wrapper {
    z-index: 2;
}

.button {
    border-radius: 8px;
    font-weight: 700;
    padding: 4px 1em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
    &.primary {
        background: $color-brown-dark;
        color: $color-brown-light;
    }
    &.secondary {
        background: $color-brown-light;
        color: $color-brown-dark;
    }
}

.hidden {
    display: none;
}

.character-wrapper {
    &.walking.r {
        .character {
            animation-name: walking-right;
        }
    }
    &.walking.l {
        .character {
            animation-name: walking-left;
        }
    }
    &.walking {
        .character {
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-duration: 0.5s;
        }
    }
}

@keyframes walking-right {
    0% {
        transform: rotate(0) scaleY(1) translateY(0);
    }
    100% {
        transform: rotate(10deg) scaleY(0.7) translateY(15%);
    }
}
@keyframes walking-left {
    0% {
        transform: rotate(0) scaleY(1) translateY(0);
    }
    100% {
        transform: rotate(-10deg) scaleY(0.7) translateY(15%);
    }
}