@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
            url("./assets/fonts/Montserrat-Bold.woff") format("woff");
}

/* variables */
$slope: 0.5; /* pente */
$angle: 26.57deg;
$space-character-top: 70px;
$space-elements: 7px;
$gutter-vert: 15px;
$gutter-horiz: 4%;
$gutter-banner-vert: 15px;
$gutter-banner-horiz: 3%;

$color-blue-sky: #b5ffff;
$color-green-grass: #5abf7d;
$color-brown-light: #f2ca80;
$color-brown-dark: #44200e;
$color-text: #44200E;
$color-error: #ff0040;

$transition-duration: 0.5s;

/* mixins */

%thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $color-brown-dark transparent;
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        border-radius: 5px;
        width: 5px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $color-brown-dark;
    }
}
%fade-after-scroll {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background: linear-gradient(0deg, $color-brown-light 0%, rgba(0,0,0,0) 100%);
}

%line {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    opacity: 0.5;
}
%line-after {
    @extend %line;
    border-bottom: 0.5px solid #44200E;
    bottom: 0;
}
%line-before {
    @extend %line;
    border-top: 0.5px solid #44200E;
    top: 0;
}

%arrow {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    right: calc((var(--window-width) / 2) - 130px);
}
%arrow-after {
    @extend %arrow;
    border-top: 30px solid $color-brown-light;
    bottom: -30px;
}
%arrow-before {
    @extend %arrow;
    border-bottom: 30px solid $color-brown-light;
    top: -30px;
}

%on-the-road {
    background: $color-green-grass;
    main.wrapper {
        .btn-toggle {
            width: 100%;
        }
        .character-wrapper {
            position: absolute;
            width: 40%;
            top: calc(var(--window-height) / 2 + #{$space-character-top});
            left: 5%;
            z-index: 5;
        }
    }
}

/* normalize */
* {
    padding: 0;
    margin: 0;
}
ul, ol {
    list-style: none;
}
button {
    border: none;
    background: none;
}

/* general properties */

body, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $color-text;
}
.hidden {
    display: none;
}

/* body, #root, .App,  */.page {
    overflow: hidden;
}

/* similarities between pages */

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100vh;
    margin: auto;
    transform: rotate(0deg); /* Prevent fixed element to go off wrapper on big screens */
    main.wrapper {
        position: relative;
        width: var(--wrapper-width);
        max-width: var(--max-width);
        height: 100vh;
        margin: auto;
    }
}
.page.loading, .page.offline {
    @extend %on-the-road;
    main.wrapper {
        .text {
            margin: auto;
            padding-top: 35vh;
            text-align: center;
        }
    }
}

/* z-indexes */

.page {
    z-index: 1;
    main.wrapper {
        z-index: 2;
    }
    &.home {
        .fg {
            z-index: 4;
        }
        .character-wrapper {
            z-index: 3;
        }
    }
    .decor {
        z-index: -1;
        .tree { z-index: 2; }
        .grass { z-index: 1; }
    }
    .tooltip, .navbar {
        z-index: 10;
    }
    .cart .content {
        z-index: 6;
        .banner { z-index: 5; }
    }
    .banner {
        z-index: 5;
    }
    .composed-img {
        .bg     { z-index: 2; }
        .icon   { z-index: 3; }
        .fg     { z-index: 4; }
    }
}

/* focusablke elements */

@mixin focusable($radius: 5px, $color: black) {
    &:focus-visible, &:hover:not(:disabled) {
        outline: none;
        filter: drop-shadow( 0px 0px $radius $color)
    }
}

/* Mutly layers images */

.composed-img {
    display: grid;
    grid-template: "center" 1fr / 1fr;
    > * {
        width: 100%;
        grid-area: center;
    }
}

/* buttons */

.button {
    border-radius: 8px;
    font-weight: 700;
    padding: 4px 1em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    &.primary {
        @include focusable($radius: 3px);
        background: $color-brown-dark;
        color: $color-brown-light;
    }
    &.secondary {
        @include focusable($radius: 3px);
        background: $color-brown-light;
        color: $color-brown-dark;
    }
    &.toggle {
        font-weight: 500;
        box-shadow: none;
        background: none;
        border: 1.5px solid $color-brown-dark;
        color: $color-brown-dark;
        padding-right: 8px;
        padding-left: 8px;
        input {
            display: none;
        }
        &.selected {
            background: $color-brown-dark;
            color: $color-brown-light;
        }
    }
    &:disabled, &[href=""] {
        pointer-events: none;
        box-shadow: none;
        opacity: 0.5;
    }
}

/* forms */

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    margin-bottom: 0.5rem;
    label {
        font-size: 0.8rem;
        font-weight: 500;
        margin: .8rem 0 .1rem .5rem
    }
    input {
        font-size: 1rem;
        background: $color-brown-light;
        border: 1px solid $color-brown-dark;
        height: 2.5rem;
        border-radius: .5rem;
        padding-left: .5rem;
        color: $color-text;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $color-brown-dark;
        }
        /* Remove arrows button for number field */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
    }
    &.validate input:invalid {
        outline: 1px solid $color-error;
        border: 1px solid $color-error;
    }
    .error {
        margin: 0.8rem 0 0 0.5rem;
        color: $color-error;
    }
}
